doctype html(lang='en')
html
	include head.pug

	body
		.header.row
			.equal
				h5.logo_float Gegenwart
			.equal
				nav.fat-nav
					.fat-nav__wrapper
						ul
							li
								a(href="#") Work
							li
								a(href="#") About
							li
								a(href="#") Team
							li
								a(href="#") Jobs

		.row.landing-ascend
			.full
				h4 Aus Frankfurt. F체r Frankfurt. Und f체r international wie lokal t채tige Kunden.
				p Mit 15 Jahren Erfahrung und einem schlagkr채ftigen, spezialisierten Team entwickeln wir Strategien und setzen Design- und Kommunikations-Projekte in der Gegenwart um.
			.full
				.image-large
					img(src="https://gegenwart.com/wp-content/uploads/2017/11/GGW_KGF_Vorschaubild_01-1.jpg")
		
		
		script.
			$.fatNav();